{{outlet}}

<form>

    <h4>Create Your Recipe</h4>

    <!--recipe title area-->

    <!-- <button class="addPhoto">Add Photo</button> -->
    {{input type="text" placeholder="Recipe Name" value=recipeName}}
    {{input type="text" placeholder="Chef Name" value=chefName}}

   {{! recipe type, cook time, prep time, and temp selector }}

    {{view "select" content=mealType}}

    {{input type="text" value=prepTime placeholder="Prep Time"}}
    {{input type="text" value=cookTime placeholder="Cook Time"}}

    {{input type="text" placeholder="Cook Temp" value=cookTemp}}

    {{view "select" content=tempDenom}}

    <!--recipe yield/qty-->

    <h4>This Recipe Will Make</h4>
        {{input type="text" placeholder="Servings" value=recipeYield }}
        {{input type="text" value=recipeProduct placeholder="cookies, loaves, etc"}}

        <!--measurements & prep-->

    <h4>Step 1</h4>
       {{input placeholder="Amount" type="text" value=ingredientAmount }}

       {{view "select" content=unitOfMeasure}}

       {{input placeholder="Ingredient" type="text" value=ingredientType}}
       <button class="addIngredient">+</button>

       {{textarea placeholder="Directions" value=directions rows="8" cols="40"}}
       <button class="addStep">Add Step</button>

    <h4>Personal Notes</h4>
        {{textarea placeholder="Chef Notes" value=chefNotes rows="8" cols="40"}}
        {{#link-to 'recipe'}}
        <input type="submit" value="Save This Recipe" {{action "saveRecipe" }}>
        {{/link-to}}
</form>
